.nav_container {
  list-style: none;
  margin: 2px;
  padding: 3px;
}

.nav_container li {
  float: left;
  padding: 10px;
  text-align: center;
  margin-left: 5px;
}

ul {
  background-color: red;
}
