.nav_container {
  list-style: none;
  overflow: hidden;
  background: rgb(226, 168, 33);
  margin: 0;
  padding: 0;
}

.nav_container li {
  float: left;
  padding: 15px;
  text-align: center;
  margin-left: 5px;
  font-weight: 800;
  font-size: 20px;
}

.nav_container li :hover {
  color: white;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: black;
}

.switch {
  margin-top: 1em;
  margin-left: 20em;
}
