.author_image {
  border-radius: 1em;
  height: 7em;
  border: solid rgb(226, 168, 33) 4px;
}

.quotes_container {
  flex-wrap: wrap;
  align-content: center;
}

.quote_text {
  line-height: 1.3;
  font-size: 1.4em;
  width: 600px;
  padding: 10px;
}

.ant-collapse-header-text {
  font-size: 1.2em;
  font-weight: 800;
}

svg {
  font-weight: 800;
  font-size: 1.2em;
}

.ant-collapse {
  width: 22em;
}
