.author_image {
  border-radius: 1em;
  height: 5em;
}

.quotes_container {
  flex-wrap: wrap;
  align-content: center;
}

.quote_text {
  word-break: break-all;
  line-height: 1;
  text-transform: uppercase;
  text-align: center;
  font-size: 40px;

  width: 1em;
}
