.author_image {
  border-radius: 1em;
  height: 5em;
}

.quotes_container {
  width: 500px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-content: center;
}

p {
  overflow-wrap: break-word;
  flex-wrap: wrap;
}
